body {
    font-family: "Libre Baskerville", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    padding: 20px 0 20px 0px;
    background: #3ea0e6;
    font-size: 23px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
}
.nav-section {
    /* justify-content: left;
    position: relative;
    align-items: flex-end; */

    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
}
.nav-section-list {
    /* display: flex;
    flex-direction: row; */
}
.nav-section-list-order {
    border-style: none;
    outline-style: none;
    margin: 0 25px;
}
.nav-section-list-order-link-about {
    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-section-list-order-link {
    text-decoration: none;
}
.intro-section {
    display: flex;
    flex-direction: row;
}
